In [2]:
1)
SELECT job_id, AVG(salary) as Average,MIN(salary) as Minimum,MAX(salary) as Mamximum from employees 
where job_id<18  group by job_id

job_id,Average,Minimum,Mamximum
1,8300.000000,8300.00,8300.00
2,12000.000000,12000.00,12000.00
3,4400.000000,4400.00,4400.00
4,24000.000000,24000.00,24000.00
5,17000.000000,17000.00,17000.00
6,7920.000000,6900.00,9000.00
7,12000.000000,12000.00,12000.00
8,6500.000000,6500.00,6500.00
9,5760.000000,4200.00,9000.00
10,13000.000000,13000.00,13000.00
11,6000.000000,6000.00,6000.00
12,10000.000000,10000.00,10000.00
13,2780.000000,2500.00,3100.00
14,11000.000000,11000.00,11000.00
15,13750.000000,13500.00,14000.00
16,7550.000000,6200.00,8600.00
17,3950.000000,3900.00,4000.00

In [5]:
2)
select d.Department_name, COUNT(d.department_ID) as 'Number_of_employee' FROM departments d
inner join employees e on d.department_ID=e.department_ID 
GROUP by d.department_name

Department_name,Number_of_employee
Accounting,2
Administration,1
Executive,3
Finance,6
Human Resources,1
IT,5
Marketing,2
Public Relations,1
Purchasing,6
Sales,6
Shipping,7

In [7]:
3)
select count(e.employee_id) as count_employees,e.manager_id,m.first_name as manager_name from employees e join employees m
on e.manager_id=m.employee_id GROUP by e.manager_id,m.first_name

count_employees,manager_id,manager_name
14,100,Steven
5,101,Neena
1,102,Lex
4,103,Alexander
5,108,Nancy
5,114,Den
1,120,Matthew
2,123,Shanta
1,201,Michael
1,205,Shelley

In [9]:
4)
SELECT top 16 e.last_name,e.department_id,d.department_name from employees e 
 join departments d on e.department_id=d.department_id order by e.last_name

last_name,department_id,department_name
Austin,6,IT
Baer,7,Public Relations
Baida,3,Purchasing
Bell,5,Shipping
Chen,10,Finance
Colmenares,3,Purchasing
De Haan,9,Executive
Ernst,6,IT
Everett,5,Shipping
Faviet,10,Finance
Fay,2,Marketing
Fripp,5,Shipping
Gietz,11,Accounting
Grant,8,Sales
Greenberg,10,Finance
Hartstein,2,Marketing

In [10]:
5)
select jb.job_title,l.street_address, l.city,l.country_id from  jobs jb join employees e on jb.job_id=e.job_id 
join departments d on e.department_id=d.department_id join locations l on d.location_id=l.location_id where jb.job_id=8

job_title,street_address,city,country_id
Human Resources Representative,8204 Arthur St,London,UK

In [11]:
6)
SELECT e.last_name,d.department_name,d.location_id,l.city from employees e join departments d on e.department_id=d.department_id
join locations l on d.location_id=l.location_id where d.department_id in (6,10,3) order by l.location_id

last_name,department_name,location_id,city
Hunold,IT,1400,Southlake
Ernst,IT,1400,Southlake
Austin,IT,1400,Southlake
Pataballa,IT,1400,Southlake
Lorentz,IT,1400,Southlake
Greenberg,Finance,1700,Seattle
Faviet,Finance,1700,Seattle
Chen,Finance,1700,Seattle
Sciarra,Finance,1700,Seattle
Urman,Finance,1700,Seattle
Popp,Finance,1700,Seattle
Raphaely,Purchasing,1700,Seattle
Khoo,Purchasing,1700,Seattle
Baida,Purchasing,1700,Seattle
Tobias,Purchasing,1700,Seattle
Himuro,Purchasing,1700,Seattle
Colmenares,Purchasing,1700,Seattle

In [12]:
7)
Select e.last_name, d.department_name from employees e join departments d on e.department_id=d.department_id

last_name,department_name
King,Executive
Kochhar,Executive
De Haan,Executive
Hunold,IT
Ernst,IT
Austin,IT
Pataballa,IT
Lorentz,IT
Greenberg,Finance
Faviet,Finance
Chen,Finance
Sciarra,Finance
Urman,Finance
Popp,Finance
Raphaely,Purchasing
Khoo,Purchasing
Baida,Purchasing
Tobias,Purchasing
Himuro,Purchasing
Colmenares,Purchasing
Weiss,Shipping
Fripp,Shipping
Kaufling,Shipping
Vollman,Shipping
Mikkilineni,Shipping
Russell,Sales
Partners,Sales
Taylor,Sales
Livingston,Sales
Grant,Sales
Johnson,Sales
Bell,Shipping
Everett,Shipping
Whalen,Administration
Hartstein,Marketing
Fay,Marketing
Mavris,Human Resources
Baer,Public Relations
Higgins,Accounting
Gietz,Accounting

In [13]:
8)
select top 17  e.last_name, e.department_id as 'department_number',d.department_name, jb.job_title from employees e join 
departments d on e.department_id=d.department_id
join jobs jb on e.job_id=jb.job_id

last_name,department_number,department_name,job_title
King,9,Executive,President
Kochhar,9,Executive,Administration Vice President
De Haan,9,Executive,Administration Vice President
Hunold,6,IT,Programmer
Ernst,6,IT,Programmer
Austin,6,IT,Programmer
Pataballa,6,IT,Programmer
Lorentz,6,IT,Programmer
Greenberg,10,Finance,Finance Manager
Faviet,10,Finance,Accountant
Chen,10,Finance,Accountant
Sciarra,10,Finance,Accountant
Urman,10,Finance,Accountant
Popp,10,Finance,Accountant
Raphaely,3,Purchasing,Purchasing Manager
Khoo,3,Purchasing,Purchasing Clerk
Baida,3,Purchasing,Purchasing Clerk

In [14]:
9)
select e.last_name as 'Employee Name',e.employee_id as 'Employee Number',a.first_name as Manager, a.manager_id as 'Manager Number' from employees e join 
employees a on e.manager_id=a.employee_id where e.employee_id<118

Employee Name,Employee Number,Manager,Manager Number
Kochhar,101,Steven,NULL
De Haan,102,Steven,NULL
Hunold,103,Lex,100
Ernst,104,Alexander,102
Austin,105,Alexander,102
Pataballa,106,Alexander,102
Lorentz,107,Alexander,102
Greenberg,108,Neena,100
Faviet,109,Nancy,101
Chen,110,Nancy,101
Sciarra,111,Nancy,101
Urman,112,Nancy,101
Popp,113,Nancy,101
Raphaely,114,Steven,NULL
Khoo,115,Den,100
Baida,116,Den,100
Tobias,117,Den,100

In [15]:
10)
select top 17 last_name, department_id as department_number from employees order by last_name

last_name,department_number
Austin,6
Baer,7
Baida,3
Bell,5
Chen,10
Colmenares,3
De Haan,9
Ernst,6
Everett,5
Faviet,10
Fay,2
Fripp,5
Gietz,11
Grant,8
Greenberg,10
Hartstein,2
Higgins,11

In [1]:
11)
select top 16 'C' AS GRADE, CONCAT(e.first_name,' ', e.last_name) as Name,jb.job_title,e.department_Id,e.salary from employees e join jobs jb on e.job_id=jb.job_id

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near '11'.

In [ ]:
------------------------------------------------------Sub Query Solutions--------------------------------------------------------------------------

In [2]:
1)
select last_name,hire_date from employees where department_id in(select department_id from departments where department_id=8)

last_name,hire_date
Russell,1996-10-01
Partners,1997-01-05
Taylor,1998-03-24
Livingston,1998-04-23
Grant,1999-05-24
Johnson,2000-01-04

In [3]:
2)
select employee_id, first_name, salary from employees where salary in (select salary from employees where salary >= 8200) order by salary asc

employee_id,first_name,salary
110,John,8200.00
121,Adam,8200.00
206,William,8300.00
177,Jack,8400.00
176,Jonathon,8600.00
103,Alexander,9000.00
109,Daniel,9000.00
204,Hermann,10000.00
114,Den,11000.00
108,Nancy,12000.00
205,Shelley,12000.00
201,Michael,13000.00
146,Karen,13500.00
145,John,14000.00
101,Neena,17000.00
102,Lex,17000.00
100,Steven,24000.00

In [4]:
3)
select employee_id as 'Employee Number' ,last_name from employees where employee_id in (select employee_id from employees where employee_id in(103,105,112,118,122,145))

Employee Number,last_name
103,Hunold
105,Austin
112,Urman
118,Himuro
122,Kaufling
145,Russell

In [5]:
4)
select last_name, job_id, department_id from employees where employee_id in (select employee_id from employees where employee_id=203)

last_name,job_id,department_id
Mavris,8,4

In [6]:
5)
select last_name, salary from employees where employee_id in (select employee_id from employees where manager_id=100)

last_name,salary
Kochhar,17000.00
De Haan,17000.00
Raphaely,11000.00
Weiss,8000.00
Fripp,8200.00
Kaufling,7900.00
Vollman,6500.00
Russell,14000.00
Partners,13500.00
Taylor,8600.00
Livingston,8400.00
Grant,7000.00
Johnson,6200.00
Hartstein,13000.00

In [7]:
6)
select department_id as 'Department Name', last_name, job_id from employees where employee_id in(select employee_id from employees where job_id =9)

Department Name,last_name,job_id
6,Hunold,9
6,Ernst,9
6,Austin,9
6,Pataballa,9
6,Lorentz,9

In [8]:
7)
select employee_id,last_name,salary from employees where employee_id in(select employee_id from employees where employee_id in(103,145))

employee_id,last_name,salary
103,Hunold,9000.00
145,Russell,14000.00

In [13]:

select first_name from employees where employee_id in( select employee_id from employees where phone_number is null)

OR

select distinct first_name from employees where first_name in('john','karen','jonathon','jack','kimberely','charles')

first_name
John
Karen
Jonathon
Jack
Kimberely
Charles

first_name
Charles
Jack
John
Jonathon
Karen
Kimberely

In [10]:
9)
select last_name, salary from employees where employee_id in (select employee_id from employees where salary >=17000)

last_name,salary
King,24000.00
Kochhar,17000.00
De Haan,17000.00

In [11]:
10)
select first_name, salary, department_id from employees where employee_id in(select employee_id from employees where salary >=14000 and manager_id=100 )

first_name,salary,department_id
Neena,17000.00,9
Lex,17000.00,9
John,14000.00,8