In [2]:
select distinct department from employee

department
Advertising
Production
Sales
Shipping

In [3]:
exec sp_rename 'employee.EmpID' , 'employeeID'

In [5]:
select * from employee where department in ('sales','shipping')

employeeID,Name,Department,HireDate,Training
1234,J.Jones,Sales,18/Jun/92,24
3456,A.Adams,Sales,18/Nov/98,60
6789,C.Cole,Shipping,18/May/91,32
7890,E.Ellis,Sales,15/Dec/98,80

In [25]:
select top 0 * into TABLE2 from Employee

select * from TABLE2

In [6]:
select * from employee where training > 40

employeeID,Name,Department,HireDate,Training
3456,A.Adams,Sales,18/Nov/98,60
5678,D.Davis,Production,26/Jul/99,56
7890,E.Ellis,Sales,15/Dec/98,80
9012,G.Gates,Advertising,15/Mar/99,48

In [26]:
delete from employee where training > 60
select * from employee

employeeID,Name,Department,Training
1234,J.Jones,Sales,24
2345,S.Smith,Production,40
3456,A.Adams,Sales,60
4567,B.Bates,Advertising,16
5678,D.Davis,Production,56
6789,C.Cole,Shipping,32
NULL,S.Shina,Marketing,45
8901,F.Files,Advertising,24
9012,G.Gates,Advertising,48

In [28]:
 alter table employee drop column hiredate;
select * from employee

employeeID,Name,Department,Training
1234,J.Jones,Sales,24
2345,S.Smith,Production,40
3456,A.Adams,Sales,60
4567,B.Bates,Advertising,16
5678,D.Davis,Production,56
6789,C.Cole,Shipping,32
NULL,S.Shina,Marketing,45
8901,F.Files,Advertising,24
9012,G.Gates,Advertising,48

In [21]:
alter table employee alter column department varchar(34)

In [29]:
insert into employee (name,department,Training) values ('S.Shina','Marketing', 45)
select * from employee

employeeID,Name,Department,Training
1234,J.Jones,Sales,24
2345,S.Smith,Production,40
3456,A.Adams,Sales,60
4567,B.Bates,Advertising,16
5678,D.Davis,Production,56
6789,C.Cole,Shipping,32
NULL,S.Shina,Marketing,45
8901,F.Files,Advertising,24
9012,G.Gates,Advertising,48