In [12]:
1)
select name from Artist where artistid in(select top 1 artistid from album 
group by artistid having (count(artistid) > 1))

name
Metallica

In [3]:
2)
select name from Artist  where artistid in  (select ArtistId from album 
group by artistid having (count(artistid) <= 1))

name
Anthrax
ZZ Top
Van Halen
Lynyrd Skynyrd
ACDC

In [5]:
3)
select count(ArtistId) as 'No of songs' from Artist where artistid in  (select ArtistId from album 
group by artistid having (count(artistid) = 1))

No of songs
5

In [6]:
4)
select name from Artist where ArtistId in 
(select albumid from song where SongId in( select SongId from song where Duration>5))

name
Metallica
Megadeth
Anthrax
Eric Clapton
ZZ Top
Van Halen

In [7]:
5)
select ar.name, al.name, count(s.songId)as 'No of songs' from song s, Artist ar, Album al
where ar.ArtistId in (select al.albumid from song where s.SongId in( select albumId from song  where Duration<5))
GROUP by ar.Name,al.name

name,name,No of songs
Metallica,...And Justice For All,9
Megadeth,Black Album,9
Eric Clapton,Endgame,9
Anthrax,Master of Puppets,9
ZZ Top,Peace Sells,9
Lynyrd Skynyrd,Reptile,9
ACDC,Riding with the King,9
Van Halen,The Greater of 2 Evils,9

In [9]:
6)
select top 1 al.year, count(s.SongId) as 'no of songs' from Album al, song s where al.AlbumId  in(select s.songId from song s ) 
group by al.year order by [no of songs] DESC

year,no of songs
1986,48

In [10]:
7)
select top 1 al.year  "Year",count(*) "Number of Albums Recorded"
from album al group by al.year order by [Number of Albums Recorded] desc

Year,Number of Albums Recorded
1986,2

In [11]:
8)
select ar.name, sum(s.duration) from song s, Artist ar where s.AlbumId in (select al.albumid from Album al 
where al.AlbumId in(select ar.ArtistId from Artist ar))
GROUP by ar.name order by sum(s.Duration) desc

name,(No column name)
ACDC,80.51000142097473
Anthrax,80.51000142097473
Eric Clapton,80.51000142097473
Lynyrd Skynyrd,80.51000142097473
Megadeth,80.51000142097473
Metallica,80.51000142097473
Van Halen,80.51000142097473
ZZ Top,80.51000142097473